@import 'varible';

.login{
    @include head_text();

    .form-login{
        margin-top: 10%;

        @include form_member();

        .forget-register{
            display: flex;
            justify-content: space-between;
            margin: 2% 0;

            .forget{
                a{
                    color: $price-color;
                    font-size: 1vw;
                }
            }
            .register{
                a{
                    color: #8db2df;
                    font-size: 1vw;
                }
            }
        }

        @include form_button();
    }
}

.register-page{
    @include head_text();

    .form-register{
        margin-top: 3%;

        @include form_member();

        .login-page{
            text-align: end;
            margin: 2% 0;

            a{
                color: #8db2df;
                font-size: 1vw;
            }
        }

        @include form_button();
    }
}

.forget{
    @include head_text();

    .form-forget{
        margin-top: 3%;

        @include form_member();

        @include form_button();
    }
}

.dialog-forget{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;

    .newpass-form{
        .box{
            .head-text{
                color: $head-color;
                background-image: linear-gradient(to right, $price-color , $text-color);
                border-radius: 10px 10px 0 0;
                padding: 10px;
            }

            .new-pass{
                padding: 2% 3%;
                background: $head-back;
                color: $head-color;

                .input-form{
                    display: flex;
                    flex-direction: column;
                    
                    input{
                        background: #292323;
                        color: $head-color;
                        border: unset;
                        height: 2rem;
                        padding-left: 3%;
                    }
                }

                .button{
                    text-align: center;
                    margin: 2% 0;

                    button{
                        background: $price-color;
                        color: $head-color;
                        width: 40%;
                        height: 2rem;
                        border-radius: 20px;
                        border: unset;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}
.bg-dialog{
    display: none;
    background: #fff;
    opacity: 0.6;
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.account{
    @include head_text();

    .edit-button{
        text-align: end;
        margin: 2% 0;

        button{
            border: unset;
            border-radius: 20px;
            color: $head-color;
            background: #ffb200;
            width: 10%;
            height: 2rem;
            font-size: 1vw;
            cursor: pointer;
        }
    }

    @include form_member();

    @include form_button();

    .form-login:last-child{
        margin-top: 5%;
    }
}