@import 'varible';

.mycart{
    @include head_text();

    .menu-mycart{

        .leaf-menu{
            display: flex;
            margin: 2% 0;

            .button-menu{
                margin: 0 1%;
                width: 30%;

                @media screen and (min-width:769px) and (max-width:1024px) {
                    width: 20%;
                }
                @media screen and (min-width:1025px) {
                    width: 15%;
                }

                button{
                    width: 100%;
                    height: 2rem;
                    border: unset;
                    border-radius: 20px;
                    background: $left-menu-color;
                    color: $head-color;
                    cursor: pointer;

                } 
                .active{
                    background: #000!important;
                }
            } 
        }
    }
}

.mycart-page{
    @include mycart_detail;
}

.my-fav{
    @include grid_store;
}

.my-bid{
    @include grid_store;
}