.mycart .head-text {
  background-image: -webkit-gradient(linear, left top, right top, from(#c20000), to(#000));
  background-image: linear-gradient(to right, #c20000, #000);
  border-radius: 15px;
}

.mycart .head-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 2%;
}

.mycart .head-text .text h1, .mycart .head-text .text span {
  color: #fff;
  font-weight: 100;
}

.mycart .head-text .text h1 {
  font-size: 22px;
}

.mycart .menu-mycart .leaf-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}

.mycart .menu-mycart .leaf-menu .button-menu {
  margin: 0 1%;
}

.mycart .menu-mycart .leaf-menu .button-menu button {
  width: 10rem;
  height: 2rem;
  border: unset;
  border-radius: 20px;
  background: #c6c4c4;
  color: #fff;
  cursor: pointer;
}

.mycart .menu-mycart .leaf-menu .button-menu .active {
  background: #000 !important;
}

.mycart-page .mydetail {
  border-bottom: 1px solid #2d2d2d;
  padding: 2% 0;
}

.mycart-page .mydetail .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 89%;
      grid-template-columns: 10% 89%;
  grid-gap: 1%;
}

.mycart-page .mydetail .box .left figure img {
  width: 100%;
}

.mycart-page .mydetail .box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mycart-page .mydetail .box .right h3 {
  font-size: 1.3vw;
  font-weight: 100;
  overflow: hidden;
  height: 4.3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.mycart-page .mydetail .box .right .price-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mycart-page .mydetail .box .right .price-button .price {
  font-size: 1.5vw;
  color: #c20000;
}

.mycart-page .mydetail .box .right .price-button .button button {
  border: unset;
  border-radius: 20px;
  color: #fff;
  width: 6rem;
  height: 2rem;
  cursor: pointer;
}

.mycart-page .mydetail .box .right .price-button .button button:nth-child(1) {
  background: #c20000;
}

.mycart-page .mydetail .box .right .price-button .button button:nth-child(2) {
  background: #ffb200;
}

.my-fav a {
  color: #000;
}

.my-fav .grid-store, .my-fav .grid-myfav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 1%;
  margin: 5% 0;
}

.my-fav .grid-store .box .text-head, .my-fav .grid-myfav .box .text-head {
  color: #fff;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 5px 0;
}

.my-fav .grid-store .box .notbuy, .my-fav .grid-myfav .box .notbuy {
  background: #2d2d2d;
}

.my-fav .grid-store .box .buynow, .my-fav .grid-myfav .box .buynow {
  background: #c20000;
}

.my-fav .grid-store .box .success, .my-fav .grid-myfav .box .success {
  background: #0094c2;
}

.my-fav .grid-store .box .timeout, .my-fav .grid-myfav .box .timeout {
  background: #c6c4c4;
}

.my-fav .grid-store .box .now, .my-fav .grid-myfav .box .now {
  background: #ffb200;
}

.my-fav .grid-store .box figure img, .my-fav .grid-myfav .box figure img {
  width: 100%;
}

.my-fav .grid-store .box .title, .my-fav .grid-myfav .box .title {
  font-size: 1vw;
  font-weight: 100;
  height: 3rem;
  overflow: hidden;
}

.my-fav .grid-store .box .price, .my-fav .grid-myfav .box .price {
  display: -ms-grid;
  display: grid;
  color: #c20000;
  margin: 5% 0;
}

.my-fav .grid-store .box .price span:nth-child(2), .my-fav .grid-myfav .box .price span:nth-child(2) {
  font-size: 1.2vw;
}

.my-fav .grid-store .box .date, .my-fav .grid-myfav .box .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
}

.my-fav .grid-store .box .date i, .my-fav .grid-myfav .box .date i {
  margin-right: 2%;
}

.my-fav .grid-store .box .bet, .my-fav .grid-myfav .box .bet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-fav .grid-store .box .bet .star i, .my-fav .grid-store .box .bet .credit i, .my-fav .grid-myfav .box .bet .star i, .my-fav .grid-myfav .box .bet .credit i {
  color: #ffb200;
}

.my-fav .grid-store .box .delete-button, .my-fav .grid-myfav .box .delete-button {
  text-align: end;
  margin-top: 3%;
}

.my-fav .grid-store .box .delete-button button, .my-fav .grid-myfav .box .delete-button button {
  border: unset;
  border-radius: 20px;
  width: 40%;
  height: 2rem;
  background: #ffb200;
  cursor: pointer;
  color: #fff;
}
/*# sourceMappingURL=mycart.css.map */