$head-back:#2d2d2d;
$head-color:#fff;
$text-color:#000;
$price-color:#c20000;
$left-menu-color: #c6c4c4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun';

    &:focus{
        outline: unset;
    }
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

//คลาสสำหรับ include
@mixin head_menu {
    cursor: pointer;
    background: $price-color;
    color: $head-color;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    font-size: 1vw;

    i{
        margin: 0 3%;
    }

    h2{
        font-weight: 100;
    }
}
@mixin left_menu {
    display: flex;
    flex-direction: column;
    background: #352c2c;
    padding: 0 5%;
    border-radius: 0 0 10px 10px;
}
@mixin li_menu_left {
    cursor: pointer;
    margin: 5% 0;
    border-bottom: 1px solid #fff;
    padding-left: 3%;
    padding-bottom: 7%;
    position: relative;

    a,span{
        color: $left-menu-color;
        font-size: 0.8vw;
    }
}
@mixin menu_footer {
    li{
        a{
            color: inherit;
            font-size: 0.7vw;
        }
    }
}

//คลาสใช้บ่อย
.container{
    margin: 0 auto;
    width: 75%;
}
.head-foot{
    margin-bottom: 15px;
    font-size: 1vw;
}

//ส่วนหัว
header{
    background: $head-back;

    .main-head{
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 0 auto;
        padding: 10px 0;

        .right-head{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            .member-head{

                a{
                    .login-regis{
                        color: $head-color;
                        background: $price-color;
                        padding: 5px;
                        border-radius: 5px;
                        font-size: 18px;
                        font-weight: 300;
                    }  
                
                }
            }
            .icon-head{
                color: $head-color;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 3%;

                i{
                    font-size: 20px;
                    margin-left: 18%;
                }
            }
        }
    }
}

// ส่วนเมนู
nav{
    @extend .container;
    position: relative;

    ul{
        display: flex;
        margin: 2% 0;

        li{
            margin-right: 3%;
            
            a{
                font-size: 18px;
                font-weight: 600;
                color: $text-color;

                &:hover{
                    border-bottom: 2px solid $price-color;
                }  
            }
            .active{
                border-bottom: 2px solid $price-color;
            }
        }
    }

    .status-credit{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;

        .red-star{
            i{
                color: $price-color;
            }
        }

        .star{
            i{
                color: #ffb300;
            }
        }

        .coin{
            i{
                color: #ffb300;
            }
        }
    }
}


//ส่วนเนื้อหาหลัก
.grid-body{
    display: grid;
    grid-template-columns: 14% 85%;
    grid-gap: 1%;

    //ส่วนซ้าย
    .left-side{
        //เมนูซ้าย
        .left-menu{
            .head-menu{
                @include head_menu;
            }

            .menu-left{
                @include left_menu;

                li{
                    @include li_menu_left();

                    .fa-bell{
                        color: #ffb300;
                    }

                    .sub-menu{
                        display: none;
                        margin-top: 15%;

                        li{
                            padding-left: 10%;
                        }
                    }

                    i{
                        color: $head-color;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    &:nth-child(18){
                        margin-top: 15%;
                    }
                }
            }
        }

        .article-menu{
            margin-top: 20%;

            .head-menu{
                @include head_menu;
            }

            ul{
                @include left_menu();

                li{
                    @include li_menu_left();
                }
           }
        }

        .left-box-menu{
            margin-top: 20%;

            .box{
                position: relative;
                margin-bottom: 5%;

                img:first-child{
                    width: 100%;
                    height: 100%;
                    filter: brightness(0.7);
                    
                }
                .box-menu-logo{
                    width: 30%;
                    height: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 10px 0 0 0;
                }
                h3{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                    color: $head-color;
                    //font-size: 26px;
                    font-size: 1.3vw;
                }
                button{
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 40%;
                    height: 20%;
                    border: unset;
                    border-radius: 15px;
                    cursor: pointer;
                    color: $price-color;
                }
            }
        }
    }

    //ส่วนขวามือ
    .main-side{
        //ข้อความเลื่อน
        .marquee{
            margin-bottom: 2%;
        }

        // กล่องสินค้าหน้าแรก
        article{
            margin: 4% 0;

            .head-text{
                background-image: linear-gradient(to right, $price-color , $text-color);
                border-radius: 15px;
                
                .text{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 2%;

                    h1,span{
                        color: $head-color;
                        font-weight: 100;
                    }
                    h1{
                        font-size: 22px;
                    }
                }
            }

            .grid-box{
                display: grid;
                grid-template-columns: repeat(5,1fr);
                grid-gap: 1%;
                grid-row-gap: 3%;
                margin-top: 3%;

                a{
                    color: $text-color;

                    .box{
                        figure{
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .title{
                            height: 3rem;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;

                           h2{
                                font-size: 18px;
                                font-weight: 400;
                           }
                        }
                        .price{
                            display: grid;
                            margin-top: 3%;
                            color: $price-color;

                            span{
                                &:first-child{
                                    font-size: 12px;
                                }
                                &:last-child{
                                    font-size: 22px;
                                }
                            }     
                        }
                        .date{
                            margin-top: 3%;
                            font-size: 12px;
                        }
                        .bet{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 3%;

                            .star,.credit{
                                font-size: 12px;
                            }
                            .star i,.credit i{
                                color: #ffb402;
                            }
                        }
                    }
                }
            }
        }
    }
}

//ส่วนท้าย
footer{
    background: $head-back;

    .footer-section{
        @extend .container;

        display: grid;
        grid-template-columns: 10% 50% 10% 30%;
        padding: 3% 0;

        .help-foot,.cate-foot{
            color: $left-menu-color;

            .menu{
                @include menu_footer();
            }
        }

        .grid-cat-foot{
            display: grid;
            grid-template-rows: repeat(7,1fr);
            grid-auto-flow: column;

            @include menu_footer();
        }

        .social-foot{
            color: $left-menu-color;

            .social{
                .icon{
                    a{
                        color: inherit;
                        margin-right: 10%;
                       
                    }
                }
            }

            .receive-news{
                margin-top: 20%;

                .input{
                    position: relative;

                    input{
                        width: 100%;
                        background: $text-color;
                        border: 1px solid $left-menu-color;
                        border-radius: 10px;
                        color: $left-menu-color;
                        padding: 2%;
                    }

                    button{
                        position: absolute;
                        right: 5%;
                        top: 5%;
                        border: unset;
                        background: unset;
                        color: $head-color;
                        cursor: pointer;
                    }
                }
            }
        }

        .info{
            text-align: center;

            figure{
                img{
                    width: 60%;
                    height: auto;
                }
            }

            .detail{
                text-align: left;
                padding-left: 25%;
                color: $left-menu-color;
                font-size: 0.7vw;
            }
        }
    }

    
}
.copyright{
    text-align: center;
    background: $price-color;
    
    a{
        color: $head-color;
    }
}

.contact{
    .head-contact{
        background-image: linear-gradient(to right, $price-color , $text-color);
        font-size: 0.6vw;
        color: $head-color;
        padding: 5px 3%;
        border-radius: 30px;

        h1{
            font-weight: 100;
        }
    }

    .text-contact{
        width: 40%;
        margin: 10% auto;
        text-align: center;
    }

    .contact-button{
        text-align: center;

        img{
            margin: 0 1%;
        }
    }

    .address{
        text-align: center;
        margin: 5% 0;

        p{
            font-size: 1.5vw;
        }
    }

    .map{
        text-align: center;
    }
}
